@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

.body {
    font-family: 'Cardo', serif;
    background-color: #F8F8F8;
    
}

.header__wrapper {
    background-color: #FFFF;
    padding-bottom: 36px;

}

.border {
    border-bottom: rgb(206, 201, 201) solid 2px;
}

.container__nav {
    display: flex;
    align-items: center;
    width: 1440px;
    margin: auto;
    
}



.nav__item {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Cardo', serif;
    display: inline-flex;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
   

}

.nav {
    text-decoration: none;
    color: black;
    font-size: 17px;
    line-height: 23px;
}

.underline-one {
    color: #000000;
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

.underline-one:after {
    content: "";
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; 
    background-color: black;
    transition: width 0.1s;
}

.underline-one:hover:after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    background-color:#000000;
    transition: width 0.2s;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 328px;

}

.content__wrapper {
    width: 1440px;
    margin: auto;
    height: 490px;
    background-color: #F8F8F8;
   
}


.content__list {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    font-size: 15px;
    line-height: 28px;
    color: black;
}

.background__color__white {
    background-color: #FFFF;
    padding: 0px 10px;
}

.content__list__item {
    width: 25%;
    text-align: center;
    padding-top: 50px;
}

.content__list__item:first-child {
    padding: 50px 0px;
}

.content__picture {
    padding-top: 55px;
    padding-right: 114px;
    padding-left: 114px;
}

.content__name {
    
}

.link {
    display: flex;
    justify-content: center;
    align-items: center ;
    text-decoration: none;
    color: black;
    list-style-type: none;
    padding-bottom: 50px;
}

.link:hover {
    text-decoration: underline;
    transition: width 0.3s;

   
}

.link__padding {
    padding-top: 25px;
}



