body {
  margin: 0;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 1.4;
  color: white;
  background: rgb(70, 43, 248);
  padding: 40px;
  border-radius: 12px;
}

.color-black {
  color: rgb(34, 33, 33);
}

.background-grey {
  background: rgb(141, 139, 139);
}

.button {
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    padding: 8px;
    color: #462bf8;
    font-size: 16px;
    background: white;
    font-family: inherit;
    line-height: inherit;
}