.background {
    background-color: rgba(0, 255, 255, 0.253);
}


.form {
    margin-top: 100px;
}

.button {
    border: none;
    background-color: rgb(15, 24, 31);
    padding: 4px 24px;
    color: white;
}

.button__panel {
    margin-top: 10px;
}

.border {
    padding: 10px;
    border: 4px solid black;
    border-radius: 5px;
}

